# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
/nbproject/private/
/deps
/deps.lock
/LICENSE
/README.md
/Modelo.mwb
/Modelo.mwb.bak
nbproject/*